{% extends 'base.html' %}

{% block content %}
<div class="row my-3">
    <div class="row text-center">
        <h1>Sobre nosotros!</h1>
    </div>
    <div class="row mt-5">
        <div class="col-8">
            <h2>Envianos tu compra</h2>
        </div>
        <div class="col-4 text-end">
            <a style="font-size: 2em;" href="#purchase" data-bs-toggle="collapse"><i class="bi-caret-down"></i></a>
        </div>
    </div>
    <div class="collapse" id="purchase">
        <div class="card card-body bg-dark text-light">
            Despachamos de lunes a viernes de 8:00 a 18:00 a todo el país por Andreani. Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Vero velit non eum facilis eos laboriosam quisquam cupiditate hic doloribus,
            itaque sed autem reiciendis deserunt voluptatum fugit quam mollitia pariatur doloremque!
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-8">
            <h2>Hazte cliente</h2>
        </div>
        <div class="col-4 text-end">
            <a style="font-size: 2em;" href="#client" data-bs-toggle="collapse"><i class="bi-caret-down"></i></a>
        </div>
    </div>
    <div class="collapse" id="client">
        <div class="card card-body bg-dark text-light">
            Dejanos tu email asi te notificamos sobre las novedades, ingresos de stock y más. Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Vero velit non eum facilis eos laboriosam quisquam cupiditate hic doloribus,
            itaque sed autem reiciendis deserunt voluptatum fugit quam mollitia pariatur doloremque!
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-8">
            <h2>Siguenos en las redes</h2>
        </div>
        <div class="col-4 text-end">
            <a style="font-size: 2em;" href="#social" data-bs-toggle="collapse"><i class="bi-caret-down"></i></a>
        </div>
    </div>
    <div class="collapse" id="social">
        <div class="card card-body bg-dark text-light">
            <p>
                Para reviews de productos, información útil sobre minería, sorteos, stock y más.
            </p>
            <div class="row text-center">
                <p><b>Nuestras redes</b></p>
            </div>
            <div class="row text-center">
                <div class="col">
                    <a class="text-light" target="blank" style="font-size: 3em;" href="https://facebook.com"><i
                            class="bi-facebook"></i></a>
                </div>
                <div class="col">
                    <a class="text-light" target="blank" style="font-size: 3em;"
                        href="https://instagram.com/GuruMinero"><i class="bi-instagram"></i></a>
                </div>
                <div class="col">
                    <a class="text-light" target="blank" style="font-size: 3em;"
                        href="https://web.whatsapp.com/send?phone=+5493515680925"><i class="bi-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}