<div class="row py-5">
  <div class="col">
    <h5>ENVIAMOS TU COMPRA</h5>
    <p>Despachamos de lunes a viernes de 8:00 a 18:00 a todo el país por Andreani</p>
    <a class="icon-link" href="#">ir</a>
  </div>
  <div class="col">
    <h5>HACETE CLIENTE</h5>
    <p>Dejanos tu email asi te notificamos sobre las novedades, ingresos de stock y más</p>
    <a class="icon-link" href="#">ir</a>
  </div>
  <div class="col">
    <h5>SEGUINOS EN NUESTRAS REDES SOCIALES</h5>
    <p>Para reviews de productos, información útil sobre minería, sorteos, stock y más</p>
    <a class="icon-link" href="#">ir</a>
  </div>
</div>