{% block features %}
  <div class="row py-5 mx-auto row-cols-1 row-cols-md-3 g-4">
    <div class="col ">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h5>Enviamos tu compra</h5>
                </div>
                <div class="card-text">
                    <p>Despachamos de lunes a viernes de 8:00 a 18:00 a todo el país por Andreani</p>
                    <a class="icon-link" href="{% url 'about_us' %}"><i class="bi-arrow-return-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h5>Hazte cliente</h5>
                </div>
                <div class="card-text">
                    <p>Dejanos tu email asi te notificamos sobre las novedades, ingresos de stock y más</p>
                    <a class="icon-link" href="{% url 'about_us' %}"><i class="bi-arrow-return-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h5>Siguenos en las redes</h5>
                </div>
                <div class="card-text">
                    <p>Para reviews de productos, información útil sobre minería, sorteos, stock y más</p>
                    <a class="icon-link" href="{% url 'about_us' %}"><i class="bi-arrow-return-right"></i></a>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}