<footer class="container-fluid pt-5 bg-dark pb-0 mb-0">
  <div class="row">
    <div class="col text-light">
      <h5 class="text-center">ATENCION AL CLIENTE</h5>
      <p><i class="bi-envelope-fill"></i> Consultas@guruminero.com.ar</p>
      <p><i class="bi-whatsapp"></i> +54 9 3516509178</p>
      <p><i class="bi-clock"></i> Lunes a Viernes de 9 a 18h</p>
      </ul>
    </div>
    <div class="col text-light text-center">
      <h5>REDES SOCIALES</h5>
      <div class="row">
        <div class="col">
          <a class="link-light" style="font-size: 3em;" href=""><i class="bi-facebook"></i></a>
        </div>
        <div class="col">
          <a class="link-light" style="font-size: 3em;" href=""><i class="bi-instagram"></i></a>
        </div>
        <div class="col">
          <a class="link-light" style="font-size: 3em;" href=""><i class="bi-whatsapp"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
