<footer class="container py-5">
  <div class="row">
    <div class="col">
      <h5>ATENCION AL CLIENTE</h5>
      <p>Mail: Consultas@guruminero.com.ar</p>
      <p>WhatsApp: +54 9 3516509178</p>
      <p>Horarios: Lunes a Viernes de 9 a 18h</p>
      </ul>
    </div>
    <div class="col">
      <h5>REDES SOCIALES</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Facebook</a></li>
        <li><a class="link-secondary" href="#">Instagram</a></li>
        <li><a class="link-secondary" href="#">WhatsApp</a></li>
      </ul>
    </div>
    </div>
  </div>
</footer>
