{% extends 'base.html' %}

{% block title %}Lista de productos{% endblock %}

{% block content %}
  <h1>Lista de productos</h1>
  {% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button class="btn-close" data-bs-dismiss="alert" aria-label="Close" type="button"></button>
      </div>
    {% endfor %}
  {% endif %}
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-outline-dark" href="{% url 'product_create' %}" role="button">
      Añadir producto
    </a>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Categoría</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.stock }}</td>
          <td>{{ product.category }}</td>
          <td>
            <div class="btn-group btn-group-sm" role="group">
              <a class="btn btn-outline-dark" href="{% url 'product_detail' product.id %}" role="button">Ver</a>
              <a class="btn btn-outline-dark" href="{% url 'product_edit' product.id %}" role="button">Editar</a>
              <a class="btn btn-outline-danger" href="{% url 'product_delete' product.id %}" role="button">Eliminar</a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}
