{% extends 'base.html' %}

{% block title %}Añadir producto{% endblock %}

{% block content %}
  <h1>Añadir producto</h1>
  <form action="{% url 'product_create' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label" for="id_name">Nombre</label>
      <input id="id_name" class="form-control" name="name" maxlength="25" required type="text">
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_price">Precio</label>
      <input id="id_price" class="form-control" name="price" step="any" required type="number">
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_stock">Stock</label>
      <input id="id_stock" class="form-control" name="stock" value="0" min="0" required type="number">
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_category">Categoría</label>
      <select id="id_category" class="form-control" name="category" required>
        <option value="" selected>---------</option>
        <option value="1">Placa de video</option>
        <option value="2">Rizer</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Añadir</button>
  </form>
{% endblock %}
