{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="card mt-5">
  <img src="http://via.placeholder.com/1280x720" class="card-img-top" alt="...">
  <div class="card-title mt-3">
    <h1 class="text-center text-primary">{{ product.name }} -
      {% if product.stock > 0 %}
      <span class="badge bg-success">In stock</span>
      {% else%}
      <span class="badge bg-danger">No stock</span>
      {% endif %}
    </h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <p class="text-center"> <b>Precio:</b> {{ product.price }}</p>
      </div>
      <div class="col-4">
        <p class="text-center"><b>Stock:</b> {{ product.stock }}</p>
      </div>
      <div class="col-4">
        <p class="text-center"><b>Categoría:</b> {{ product.category }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}