{% extends 'base.html' %}

{% block title %}Editar producto{% endblock %}

{% block content %}
  <h1>Editar {{ product.name }}</h1>
  {% if messages %}
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button class="btn-close" data-bs-dismiss="alert" aria-label="Close" type="button"></button>
      </div>
    {% endfor %}
  {% endif %}
  <form action="{% url 'product_edit' product.id %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label" for="id_name">Nombre</label>
      <input id="id_name" class="form-control" name="name" maxlength="25" value="{{ product.name }}" required type="text">
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_price">Precio</label>
      <input id="id_price" class="form-control" name="price" step="any" value="{{ product.price }}" required type="number">
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_stock">Stock</label>
      <input id="id_stock" class="form-control" name="stock" value="{{ product.stock }}" min="0" required type="number">
    </div>
    <div class="mb-3">
      <label class="form-label" for="id_category">Categoría</label>
      <select id="id_category" class="form-control" name="category" required>
        <option value="">---------</option>
        {% for category in categories %}
          <option value="{{ category.id }}"
            {% if category.id == product.category.id %}
              selected
            {% endif %}
          >{{ category }}</option>
        {% endfor %}
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Editar</button>
  </form>
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}